// componentin perus layout
.container {
    height: 100vh;
    width: 100vw;
    //background-color: #63a4ff;
    //background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
            background: rgb(134,201,210);
            background: radial-gradient(circle, rgba(134,201,210,1) 0%, rgba(0,0,0,1) 100%);


    
    display: flex;
    flex-direction: column;
}

.container .flexRow {
    min-height: 10px;
    
}

// splitattu flexrow
.container .flexRow .split50 {
    display: flex;
    flex-direction: row;
}

.container .flexRow .split50 .flexLeft {
    width: 50%;
    height: 100%;
    text-align: center;
    margin-top: 30px;

    p {
        color: rgb(0, 0, 0);
        padding:35px 47px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 9px 3px #6a6a6a;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 22px
    }
    
}

.container .flexRow .split50 .flexRight {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;

    
    img {
        height: 350px;
        margin-top: 12px;
        margin-bottom: 25px;
        box-shadow: 0px 0px 9px 3px #ffd591;
        border-radius: 15px;
        padding: 1px;
    }

    @media screen and (max-width: 630px) {
        img {
            height: 250px;
        }
    }

    @media screen and (max-width: 460px) {
        img {
            height: 200px;
        }
    }
}


// wrappaava flexi, itemit rivittyy
.container .flexRow .projektiKuvat {
    //background: rgb(0,0,0);
    //background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(148,170,233,1) 100%);
        //background: rgb(0,0,0);
            //background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(148,214,233,1) 100%);
                //background: rgb(0,0,0);
                //background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(134,201,208,1) 100%);
                background: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 30px;
    
    box-shadow: 0px 0px 9px 3px #6a6a6a;

}

// yksi rivittyvä itemi
.container .flexRow .projektiKuvat .unityKuva {
            border-radius: 50px 15px 15px 50px;
            background-color: black;
            width: 200px;
            height: 200px;
            margin: 40px;
            
            //margin-top: 50px;
            //margin-right: 0px;
            //margin-left: 90px;
            box-shadow: 0px 0px 9px 3px #86fff5;
 


}

.container .flexRow .projektiKuvat .projectCard {
    
    text-align: center;
    
    
    .p {
        color: rgb(255, 0, 0);
    }
}

.unityKuva{
    background-image: url('../media5/Unitylogopeliin.jpg');
    background-size: cover;
    
  
}

.unityKuva:hover {

    width: 600px;
    height: 550px;

    box-shadow: 0px 0px 9px 3px #86fff5;
    background-image: url('../media4/1suhde1kuva.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.container .first {
    min-height: 389px;
}

.container .flexRow .projektiKuvat .unityKuva2 {
    border-radius: 15px;
    background-color: black;
    width: 200px;
    height: 200px;
    margin: 40px;
    margin-bottom: 100px;
    //margin-top: 50px;
    //margin-right: 0px;
    //margin-left: 90px;
    box-shadow: 0px 0px 9px 3px #86fff5;
}

.unityKuva2{
    background-image: url('../media5/Unitylogopeliin.jpg');
    background-size: cover;
}

.unityKuva2:hover {

    width: 600px;
    height: 550px;

    box-shadow: 0px 0px 9px 3px #86fff5;
    background-image: url('../media4/Sieppaaaaaaa.PNG');
    background-repeat: no-repeat;
    background-size: cover;
}

.container .flexRow .projektiKuvat .unityKuva3 {
    border-radius: 15px;
    background-color: black;
    width: 200px;
    height: 200px;
    margin: 40px;
    
    //margin-top: 50px;
    //margin-right: 0px;
    //margin-left: 90px;
    box-shadow: 0px 0px 9px 3px #86fff5;
}

.unityKuva3{
    background-image: url('../media5/Unitylogopeliin.jpg');
    background-size: cover;
    
  
}

.unityKuva3:hover {

    width: 600px;
    height: 550px;

    box-shadow: 0px 0px 9px 3px #86fff5;
    background-image: url('../media4/menukuva.PNG');
    background-repeat: no-repeat;
    background-size: cover;
}

.container .flexRow .projektiKuvat .unityKuva4 {
    border-radius: 15px 50px 50px 15px;
    background-color: black;
    width: 200px;
    height: 200px;
    margin: 40px;
    
    //margin-top: 50px;
    //margin-right: 0px;
    //margin-left: 90px;
    box-shadow: 0px 0px 9px 3px #86fff5;
}

.unityKuva4{
    background-image: url('../media5/Unitylogopeliin.jpg');
    background-size: cover;
    
  
}

.unityKuva4:hover {

    width: 600px;
    height: 550px;

    box-shadow: 0px 0px 9px 3px #86fff5;
    background-image: url('../media4/menuicedodge.PNG');
    background-repeat: no-repeat;
    background-size: cover;
}

.container .flexRow .information {

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background: black;
    height: 250px;
    margin-top: 150px;
}
