// componentin perus layout
.container {
    height: 100%;
    width: 100%;
    //background-color: #63a4ff;
    //background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
            background: rgb(134,201,210);
            background: radial-gradient(circle, rgba(134,201,210,1) 0%, rgba(0,0,0,1) 100%);


    
    display: flex;
    flex-direction: column;
}

.container .flexRow {
    min-height: 10px;
    
}

// splitattu flexrow


.container .flexRow .split50 .flexLeft {
    width: 100%;
    height: 200px;
    
    display: flex;
    flex-direction: column;
    justify-content: bottom;
    align-items: bottom;
    border-radius: 50px 15px 15px 50px;
    margin-bottom: 40px;

    animation: slide normal;
    animation-duration: 10s;
    animation-delay: -2s;

      @keyframes slide{
        0%{margin-left:-2500px;}
        20%{margin-left:-2500px;}
        35%{margin-left:0px;}
      100%{margin-left:0px;}
      }


    .borderstyles{
        display: flex;
        flex-direction: column;
        align-items: bottom;
        justify-content: bottom;
        
         
         
         background-color: rgba(82, 82, 82, 0.13);
         border-radius: 0px 0px 15px 15px;
         
        p {
            
            color: rgb(255, 255, 255);
            text-align: center;
            padding: 20px 20px;
            
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 22px
            
        }
        
    
    }
      
    
    
}



.container .flexRow .split50 .flexRight {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;

animation: slide normal;
    animation-duration: 10s;
    animation-delay: -2s;

      @keyframes slide{
        0%{margin-right:+1500px;}
        20%{margin-right:+1500px;}
        35%{margin-right:0px;}
      100%{margin-right:0px;}
      }

      

    
    img {
        height: 350px;
        margin-top: 12px;
        margin-bottom: 25px;
        box-shadow: 0px 0px 9px 3px #ffd591;
        border-radius: 15px;
        padding: 1px;
        transition: box-shadow 1.5s ease-out 100ms
        
        
    }

    img:hover{
        box-shadow: 0px 0px 9px 3px #86fff5;
    }

    @media screen and (max-width: 630px) {
        img {
            height: 250px;
        }
    }

    @media screen and (max-width: 460px) {
        img {
            height: 200px;
        }
    }
}


// wrappaava flexi, itemit rivittyy
.container .flexRow .projektiKuvat {
    //background: rgb(0,0,0);
    //background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(148,170,233,1) 100%);
        //background: rgb(0,0,0);
            //background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(148,214,233,1) 100%);
                //background: rgb(0,0,0);
                //background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(134,201,208,1) 100%);
                background: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 100px;
    
    
    box-shadow: 0px 0px 9px 3px #6a6a6a;

}

// yksi rivittyvä itemi
.container .flexRow .projektiKuvat .unityKuva {
            border-radius: 50px 15px 15px 50px;
            background-color: black;
            width: 200px;
            height: 200px;
            margin: 40px;
            
            //margin-top: 50px;
            //margin-right: 0px;
            //margin-left: 90px;
            box-shadow: 0px 0px 9px 3px #86fff5;
 


}

.container .flexRow .projektiKuvat .projectCard {

    text-align: center;
    font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 17px
    
}

.unityKuva{
    background-image: url('../media5/Unitylogopeliin.jpg');
    background-size: cover;
    
  
}

.unityKuva:hover {

    width: 600px;
    height: 550px;

    box-shadow: 0px 0px 9px 3px #86fff5;
    background-image: url('../media4/1suhde1kuva.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.container .first {
    min-height: 389px;
}

.container .flexRow .projektiKuvat .unityKuva2 {
    border-radius: 15px;
    background-color: black;
    width: 200px;
    height: 200px;
    margin: 40px;
    //margin-top: 50px;
    //margin-right: 0px;
    //margin-left: 90px;
    box-shadow: 0px 0px 9px 3px #86fff5;
}

.unityKuva2{
    background-image: url('../media5/Unitylogopeliin.jpg');
    background-size: cover;
}

.unityKuva2:hover {

    width: 600px;
    height: 550px;

    box-shadow: 0px 0px 9px 3px #86fff5;
    background-image: url('../media4/Sieppaaaaaaa.PNG');
    background-repeat: no-repeat;
    background-size: cover;
}

.container .flexRow .projektiKuvat .unityKuva3 {
    border-radius: 15px;
    background-color: black;
    width: 200px;
    height: 200px;
    margin: 40px;
    
    //margin-top: 50px;
    //margin-right: 0px;
    //margin-left: 90px;
    box-shadow: 0px 0px 9px 3px #86fff5;
}

.unityKuva3{
    background-image: url('../media5/Unitylogopeliin.jpg');
    background-size: cover;
    
  
}

.unityKuva3:hover {

    width: 600px;
    height: 550px;

    box-shadow: 0px 0px 9px 3px #86fff5;
    background-image: url('../media4/menukuva.PNG');
    background-repeat: no-repeat;
    background-size: cover;
}

.container .flexRow .projektiKuvat .unityKuva4 {
    border-radius: 15px 50px 50px 15px;
    background-color: black;
    width: 200px;
    height: 200px;
    margin: 40px;
    
    //margin-top: 50px;
    //margin-right: 0px;
    //margin-left: 90px;
    box-shadow: 0px 0px 9px 3px #86fff5;
}

.unityKuva4{
    background-image: url('../media5/Unitylogopeliin.jpg');
    background-size: cover;
    
  
}


.unityKuva4:hover {

    width: 600px;
    height: 550px;

    box-shadow: 0px 0px 9px 3px #86fff5;
    background-image: url('../media4/menuicedodge.PNG');
    background-repeat: no-repeat;
    background-size: cover;
}

.container .flexRow .flexdown { 

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    margin-top: 40px;
    color: rgb(255, 255, 255);
            
            padding: 20px 20px;
            
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            
            background-color: rgba(82, 82, 82, 0.13);
}

.container .flexRow .information {

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    background: black;
    height: 250px;
    margin-top: 150px;

    background-color: rgb(0, 0, 0);
    color: white;
    font-family: 'Droid Sans', sans-serif;
    text-align: center;

    a {
        text-decoration: none;
        color: rgb(255, 255, 255);
    }

    a svg {
        height: 43px;
        width: 43px;
        transition: all .2s ease-in-out;
        margin: 10px;
        
        &:hover{
            color: rgb(148, 148, 148);
        }
    }

    .text{
        color: lightyellow;
        
    font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 15px
    }
    
}
