.container{
   display: flex;
   flex-direction: column;
   justify-items: center;
   align-items: center;
   position: relative;
   height: 100vh;
   background-image: url('../../media/Background.jpg');
   background-size: cover;
   .a{
       background: coral;
       width: 60%;
       border: 2px dotted red;
       padding: 20px;
       text-align: center;
   }
   .b{
       background: crimson;
       width: 60%;
       border: 2px solid black;
       margin: 20px;
       white-space: nowrap;
       overflow: hidden;
       overflow-x: auto;
   }
   .c{
       position: absolute;
       background: green;
       bottom: 0;
       right: 50%;
   }
   .d{
    background: rgba(0, 0, 0, 0.664);
   }

}