.container{
   display: flex;
   flex-direction: column;
   justify-items: center;
   align-items: center;
   position: relative;
   height: 100vh;
   background-image: url('../../media/Background.jpg');
   background-size: cover;
}

.container .cv {
    
}