.container{
    display: flex;
    flex-direction: column;
   justify-items: center;
   align-items: center;
   position: relative;
   height: 100vh;
   background-image: url('../../media2/royalty-free-background-image-14.jpg');
   background-size: cover;
   .main1{
        background: rgb(255, 255, 255);
        height: 520px;
        width: 1902px;

   }
   .main2{
        background: rgba(0, 0, 0, 0.500);

        width: 350px;
        height: 350px;

        position: absolute;
        right: 81px;
        top: 20px;
        border: 1px solid rgba(192, 192, 192, 0.120);

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .kuva{
            height: 300px;
            width: auto;
            right: 70px;
        }
    }
    .main3{
        background: rgba(0, 0, 0, 0.5);
        height: 520px;
        width: 1903px;
        display: flex;
        align-items: center;
        justify-content: center;
   }
   .main4{
       background: red;
   }
}