.container {
    display: flex;
    flex-direction: column;
    //justify-items: center;
    //align-items: center;
    //position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url('../../media2/royalty-free-background-image-14.jpg');
    //background-size: cover;

    .contentRow {
        
        min-height: 10px;
        display: flex;
        flex-direction: row;

        .contentLeft {
            background: rgba(0, 0, 0, 0.7);
            width: 50%;
            height: 100%;
            

            h1 {
                color: rgb(255, 255, 255);
                text-align: center;
                font-style: Montserrat;
                
            }   

            p {
                color: rgb(255, 255, 255);
            }
            h2 {
                color:aliceblue
            }
        }

        .contentRight {
            background-color: rgba(0, 0, 0, 0.7);
            width: 50%;
            height: 100%;
            

            display: flex;
            justify-content: center;
            
            
            img {
                height: 330px;
                margin-top: 15px;
                box-shadow: 0px 0px 9px 3px #ffd591;
                border-radius: 15px;
                padding: 3px;
            }
        }


    .contentTop {
        background-color: aliceblue;
        height: 350px;
        
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;

        .containerImages {
            border-radius: 15px 50px;
            background: #000000;
            padding: 20px;
            width: 200px;
            height: 150px;
            //margin-top: 50px;
            //margin-right: 0px;
            //margin-left: 90px;
            
            
            box-shadow: 0px 0px 9px 3px #86fff5;

            img {

            }
        }

        .containerImages2 {
            border-radius: 50px 50px 50px 50px;
            background: #000000;
            //padding: 20px;
            width: 200px;
            height: 150px;
            //margin-top: 50px;
            //margin-left: 100px;
            box-shadow: 0px 0px 9px 3px #86fff5;
        }

        img {

        }
    }

    
        


        @media screen and (max-width: 850px ) {
            flex-direction: column-reverse;
            height: 650px;
            .contentLeft {
                margin: 10px 0;
                width: 100vw;
            }

            .contentRight {
                margin: 10px 0;
                width: 100vw;
                
            }

            .contentTop {
                margin: 10px 0;
                width: 100vw;
            }
        }
    }
}