body{
   margin: 0px;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: rgb(255, 255, 255);
    border-radius: 1px;
    
    a{
        margin: 0 20px;
        //color: rgb(200, 200, 200);
        font-size: 25px;
        font-style:inherit;
        position: relative;
  display: inline-block;
  
  font-weight: 800;
  color: rgb(201, 201, 201);
  overflow: hidden;
  background: linear-gradient(to right, rgb(200, 200, 200), #86fff5 50%, rgb(201, 201, 201) 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  text-decoration: none;
    }

        a:hover {
            background-position: 0 100%;

        }
}